/* Base */
--simplicite-base-font-size: 105%;
--simplicite-wrapper-background: #fafafa;

/* Main */
--simplicite-header-logo-filter: invert(0%);
--simplicite-header-background-color: #FAFAFA;
--simplicite-header-text-color: #404040;
--simplicite-header-border-bottom-color: #FAFAFA;
--simplicite-header-border-bottom-size: .0625rem;
--simplicite-header-background-searchbox: #f7f7f7;
--simplicite-bookmark-background-color: #F0F0F0;
--simplicite-bookmark-color: #555555;
--simplicite-nav-background-color: #FAFAFA;
--simplicite-nav-color: #2481dd;
--simplicite-footer-background-color: #FAFAFA;
--simplicite-footer-text-color: #404040;
--simplicite-footer-border-top-color: #FAFAFA;
--simplicite-footer-border-top-size: .0625rem;

/* Menu */
--simplicite-menu-background: #fafafa;
--simplicite-menu-main-background: #FAFAFA;
--simplicite-menu-main-color: #707070;
--simplicite-menu-main-background-active: #f7f7f7;
--simplicite-menu-main-color-active: #2481dd;
--simplicite-menu-sub-background: #fafafa;
--simplicite-menu-sub-color: #808080;
--simplicite-menu-active-background: #f0f0f0;
--simplicite-menu-active-color: #2481dd;
--simplicite-menu-active-left-color: #2481dd;
--simplicite-menu-status-background: #FAFAFA;
--simplicite-menu-status-color: #909090;

/* Buttons */
--simplicite-btn-primary-background-color: #2481dd;
--simplicite-btn-primary-color: #ffffff;
--simplicite-btn-secondary-background-color: #ffffff;
--simplicite-btn-secondary-color: #000000;
--simplicite-btn-icon-background-color: #ffffff;
--simplicite-btn-icon-color: #000000;
--simplicite-btn-action-background-color: #91ac85;
--simplicite-btn-action-color: #ffffff;
--simplicite-btn-transition-background-color: #8e7cc3;
--simplicite-btn-transition-color: #ffffff;
--simplicite-button-switch-background: #ffffff;
--simplicite-button-switch-background-off: #727272;
--simplicite-button-switch-background-inactive: #ababab;

/* Panel */
--simplicite-panel-background-color: #ffffff;
--simplicite-panel-color: #202020;
--simplicite-panel-border-color: #e4e4e4;
--simplicite-panel-border-size: .0625rem;
--simplicite-panel-border-radius: 0.25rem;
--simplicite-panel-header-background-color: #ffffff;
--simplicite-panel-header-color: #404040;
--simplicite-panel-header-border-bottom-color: #e4e4e4;
--simplicite-panel-header-border-bottom-size: .0625rem;
--simplicite-panel-footer-background-color: #ffffff;
--simplicite-panel-footer-color: #404040;
--simplicite-panel-footer-border-top-color: #e4e4e4;
--simplicite-panel-footer-border-top-size: .0625rem;

/* Sub-panel */
--simplicite-subpanel-background-color: #ffffff;
--simplicite-subpanel-color: #707070;
--simplicite-subpanel-border-color: #e4e4e4;
--simplicite-subpanel-border-size: .0625rem;
--simplicite-subpanel-border-radius: 0.25rem;
--simplicite-subpanel-header-background-color: #ffffff;
--simplicite-subpanel-header-color: #606060;
--simplicite-subpanel-header-border-bottom-color: #e4e4e4;
--simplicite-subpanel-header-border-bottom-size: .0625rem;
--simplicite-subpanel-footer-color: #606060;
--simplicite-subpanel-footer-border-top-color: #e4e4e4;
--simplicite-subpanel-footer-border-top-size: .0625rem;

/* Tabs */
--simplicite-tab-background-color: #ffffff;
--simplicite-tab-color: #707070;
--simplicite-tab-border-color: #e4e4e4;
--simplicite-tab-border-size: .0625rem;
--simplicite-tab-border-bottom-color: #e4e4e4;
--simplicite-tab-border-bottom-size: .0625rem;
--simplicite-tab-active-background-color: #ffffff;
--simplicite-tab-active-color: #2481dd;
--simplicite-tab-active-border-color: #e4e4e4;
--simplicite-tab-active-border-size: .0625rem;
--simplicite-tab-active-border-bottom-color: #2481dd;
--simplicite-tab-active-border-bottom-size: .0625rem;
--simplicite-tab-content-background-color: #ffffff;
--simplicite-tab-content-color: #404040;
--simplicite-tab-content-border-color: #e4e4e4;
--simplicite-tab-content-border-size: .0625rem;

/* Field */
--simplicite-field-label-color: #404040;
--simplicite-field-input-border-color: transparent;
--simplicite-field-input-border-size: 0;
--simplicite-field-input-border-bottom-color: #e0e0e0;
--simplicite-field-input-border-bottom-size: .0625rem;
--simplicite-field-input-border-radius: 0rem;
--simplicite-field-addon-border-color: transparent;
--simplicite-field-addon-border-size: 0;

/* List */
--simplicite-list-area-background: #f0f0f0;
--simplicite-list-area-color: #606060;
--simplicite-list-head-background: #60a6ec;
--simplicite-list-head-color: #ffffff;
--simplicite-list-head-border-top-color: #e4e4e4;
--simplicite-list-head-border-top-size: .0625rem;
--simplicite-list-filter-background: #f0f0f0;
--simplicite-list-filter-color: #404040;
--simplicite-list-filter-border-top-color: #e4e4e4;
--simplicite-list-filter-border-top-size: .0625rem;
--simplicite-list-background: #ffffff;
--simplicite-list-background2: #fafafa;
--simplicite-list-color: #404040;
--simplicite-list-border-top-color: #e4e4e4;
--simplicite-list-border-top-size: .0625rem;
--simplicite-list-hover: #f7f7f7;
--simplicite-list-foot-background: #60a6ec;
--simplicite-list-foot-color: #ffffff;
--simplicite-list-foot-border-top-color: #e4e4e4;
--simplicite-list-foot-border-top-size: .0625rem;

/* Dialog */
--simplicite-dlg-background-color: #ffffff;
--simplicite-dlg-color: #707070;
--simplicite-dlg-header-background-color: #f7f7f7;
--simplicite-dlg-header-color: #707070;
--simplicite-dlg-header-border-bottom-color: #e4e4e4;
--simplicite-dlg-header-border-bottom-size: .0625rem;
--simplicite-dlg-footer-background-color: #f7f7f7;
--simplicite-dlg-footer-color: #707070;
--simplicite-dlg-footer-border-top-color: #e4e4e4;
--simplicite-dlg-footer-border-top-size: .0625rem;

