
/* Base */

/* Main */
--simplicite-nav-color: #418cf0;

/* Menu */
--simplicite-menu-main-background: #ffffff;

/* Buttons */
--simplicite-btn-primary-background-color: #418cf0;
--simplicite-btn-secondary-background-color: #ffffff;
--simplicite-btn-action-background-color: #F9CB9C;
--simplicite-btn-transition-background-color: #8c7cc3;
--simplicite-btn-icon-background-color: #ffffff;

/* Panel */
--simplicite-panel-color: #202020;
--simplicite-panel-header-color: #418cf0;
--simplicite-panel-footer-color: #418cf0;

/* Sub-panel */
--simplicite-subpanel-header-color: #cb8620;
--simplicite-subpanel-footer-color: #cb8620;

/* Tabs */
--simplicite-tab-color: #707070;
--simplicite-tab-active-color: #cb8620;
--simplicite-tab-content-color: #202020;

/* Field */
--simplicite-field-label-color: #8bb2e5;

/* List */
--simplicite-list-border-color: #e0e0e0;
--simplicite-list-area-background: #ffffff;
--simplicite-list-area-color: #cb8620;
--simplicite-list-head-background: #c1dcff;
--simplicite-list-background: #f2f7ff;
--simplicite-list-background2: #ffffff;
--simplicite-list-hover: #f0f0f0;
--simplicite-list-foot-background: #c1dcff;

/* Dialog */
--simplicite-dlg-header-color: #418cf0;
--simplicite-font: "Ubuntu";
--simplicite-wrapper-background: #ffffff;
--simplicite-header-background-color: #ffffff;
--simplicite-header-text-color: #418cf0;
--simplicite-header-background-searchbox: #ebf2f7;
--simplicite-header-logo-filter: invert(0%);
--simplicite-footer-background-color: #ffffff;
--simplicite-footer-text-color: #418cf0;
--simplicite-menu-main-color: #418cf0;
--simplicite-menu-main-background-active: #ebf2f7;
--simplicite-menu-main-color-active: #418cf0;
--simplicite-menu-active-color: #418cf0;
--simplicite-menu-status-color: #8bb2e5;
--simplicite-menu-status-hover-color: #418cf0;
